@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body{
    margin: 0;
    background-color: #3f3f3f;
    font-family: 'Russo One', sans-serif;
}
#root{
    width: 100%;
    max-width: 600px;
    margin: auto;
    height: 100vh;
    display: grid;
    align-items: center;
}
.containers{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #202020;
    box-sizing: border-box;
    border-radius: 12px;
    margin: auto;
}
.logo{
    position: absolute;
    right: 0;
    padding: 15px;
}
@media(max-width:600px){
    .containers{
        flex-direction: column;
        width: 60%;
        padding-bottom: 20px;
    }
}
@media(max-width:480px){
    .containers{
        width: 80%;
    }
}
@media(max-width:350px){
    .containers{
        width: 100%;
    }
}